.footer {
  &-buttons {
    background-color: white;
    color: #03060b;
    border: none;
  }
  &-container {
    padding: 0 20px;
    max-width: 1150px;
    margin: 0 auto;
    margin-top: 139px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
    border-bottom: solid 1px #e9edf3;
  }
  &-title {
    &-font {
      margin-bottom: 15px;
      font-family: $font;
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0.32px;
      color: #03060b;
    }
  }
  &-logo {
    margin-top: -5px;
  }
  &-link {
    &-font {
      text-decoration: none;
      font-family: $font;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 22px;
      letter-spacing: 0.14px;
      color: #445b78;
    }
  }
  &-col_direction {
    display: flex;
    gap: 11px;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media all and (max-width: 920px) {
  .footer {
    &-container {
      flex-direction: column;
      align-items: center;
      gap: 45px;
    }
    &-col_direction {
      gap: 25px;
    }
    &-link {
      &-font {
        font-size: 19px;
      }
    }
    &-title {
      &-font {
        font-size: 20px;
      }
    }
  }
}
