.header {
  max-width: 1140px;
  margin: 0 auto;
  padding-bottom: 260px;
  padding: 0 10px;
  &-text {
    max-width: 707px;

    &-font {
      font-size: 88px;
      font-family: $font;
      font-weight: 700;
      line-height: 88px;
      color: #03060b;
      margin-bottom: 66px;
    }
  }
  &-bg_img {
    background: url("../img/bg.png");
    background-position: 0 -80px;
  }
  &-sm_text {
    max-width: 584px;
    &-font {
      font-size: 20px;
      line-height: 32px;
      letter-spacing: 0.2px;
      font-family: $font;
      color: #445b78;
    }
  }
  &-button_flex {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  &-button_1 {
    padding: 4px 15px 4px 20px;
    background-color: #1b6dff;

    border-radius: 100px;
    &-font {
      font-size: 14px;
      font-weight: 700;
      font-family: $font;
      text-decoration: none;
      color: white;
      margin-right: 5px;
    }
  }
  &-button_2 {
    &-font {
      text-decoration: none;
      font-family: $font;
      font-weight: 700;
      font-size: 13px;
      letter-spacing: 0.28px;
      color: #3880ff;
    }
    &-arrow {
      color: #3880ff;
    }
  }
}

@media all and (max-width: 980px) {
  .header {
    background-position: 40% 150%;
    &-button {
      &_flex {
        gap: 2rem;
      }
      &_1 {
        &-font {
          font-size: 17px;
        }
      }
      &_2 {
        &-font {
          font-size: 17px;
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  .header {
    background-position: 40% 190%;
    &-button {
      &_flex {
        gap: 2rem;
      }
      &_1 {
        &-font {
          font-size: 17px;
        }
      }
      &_2 {
        &-font {
          font-size: 17px;
        }
      }
    }
  }
}
@media all and (max-width: 555px) {
  .header {
    &-text {
      &-font {
        font-size: 55px;
        line-height: 1.2;
        position: relative;
        z-index: 2;
      }
    }
    &-sm_text {
      &-font {
        font-size: 23px;
        line-height: 44px;
      }
    }
  }
}
@media all and (max-width: 390px) {
  .header {
    &-button {
      &_flex {
        gap: 3rem;
      }
      &_1 {
        &-font {
          font-size: 20px;
        }
      }
      &_2 {
        &-font {
          font-size: 20px;
        }
      }
    }
    &-sm_text {
      &-font {
        font-size: 23px;
        line-height: 44px;
      }
    }
  }
}
