.overview-container {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 7.5rem;
  margin-bottom: 260px;
  display: flex;
  gap: 20px;
  padding: 15px;
  justify-content: space-between;
}

.overview-font {
  font-family: $roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 2.24px;
  text-transform: uppercase;
  color: #92a0b3;
}

.overview-header {
  &-h1 {
    max-width: 470px;

    &-font {
      font-family: $font;
      font-weight: 700;
      font-size: clamp(40px, 2.8vw, 61px);
      line-height: 1.1;
      letter-spacing: 0.64px;
      color: #03060b;
    }
  }
  &-lower_text {
    &-button {
      font-family: $font;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.28px;
      color: #3880ff;
      text-decoration: none;
      &-arrow {
        margin-left: 13px;
      }
    }
    &-font {
      font-family: $font;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.16px;
      color: #445b78;
    }
  }
  &-img {
    position: relative;

    max-height: 100px;
    img {
      max-width: 100%;
    }
  }
}
.images-container {
  max-width: 1140px;
  margin-top: px;
  margin: 0 auto;
  display: flex;
  margin-top: 4.375rem;
  gap: 100px;
  padding: 0 20px;
}

.images {
  &-h3 {
    &-font {
      font-family: $font;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 22px;
      letter-spacing: 0.2px;
      color: #03060b;
    }
  }
  &-p {
    &-container {
      max-width: 310px;
    }
    &-font {
      font-family: $font;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 29px;
      letter-spacing: 0.16px;
      color: #445b78;
    }
  }
}
.imgline {
  &-container {
    display: flex;
    gap: 140px;
    max-width: 1140px;
    max-height: 34px;
    margin: 0 auto;
    margin-top: 12.5rem;
    margin-bottom: 200px;
  }
}

@media all and (max-width: 1190px) {
  .overview {
    &-container {
      gap: 15px;
    }
    &-header {
      &-lower_text {
        &-button {
          font-size: 15px;
        }
      }
    }
  }

  .images-container {
    justify-content: space-between;
    gap: 20px;
    max-width: 1100px;
    margin: 0 auto;
  }
  .imgline {
    &-container {
      display: flex;
      gap: 100px;
      max-width: 940px;
    }
  }
}

@media all and (max-width: 940px) {
  .overview {
    &-header {
      &-lower_text {
        &-font {
          font-size: 20px;
          line-height: 1.6;
        }
      }
    }
  }

  .imgline {
    &-container {
      display: flex;
      gap: 80px;
      padding-left: 5rem;
    }
  }
}

@media all and (max-width: 872px) {
  .imgline {
    &-container {
      display: flex;
      gap: 80px;
      padding-left: 60px;
    }
  }
}
@media all and (max-width: 840px) {
  .imgline {
    &-container {
      display: none;
    }
  }

  .overview {
    &-header-h1 {
      max-width: auto;
      max-width: 840px;
      margin: 0 auto;
      &-font {
        line-height: 1.5;
      }
    }
    &-container {
      display: block;
    }
    &-header {
      &-img {
        overflow: hidden;
        max-height: 450px;
        margin-right: 150px;
      }
      &-lower_text {
        &-font {
          line-height: 1.8;
        }
        &-button {
          display: inline-flex;
          margin-top: 13px;
          margin-bottom: 18px;
          font-size: 20px;
          align-items: center;
        }
      }
    }
  }

  .images {
    &-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-p {
      &-container {
        align-items: center;
      }
      &-font {
        font-size: 22px;
      }
    }

    &-adaptive {
      justify-content: center;
      display: flex;
    }
    &-h3 {
      &-font {
        font-size: 30px;
      }
    }
  }
}

@media all and (max-width: 678px) {
  .overview {
    &-header {
      &-img {
        margin-right: 0px;
        right: 0px;
      }
    }
  }
}

@media all and (max-width: 652px) {
  .overview {
    &-header {
      &-img {
        margin-right: 0px;
        right: 0px;
      }
    }
  }
}

@media all and (max-width: 546px) {
  .overview {
    &-header {
      &-lower_text {
        &-font {
          font-size: 18px;
        }
      }
    }
  }
}

@media all and (max-width: 350px) {
  .overview {
    &-header {
      &-lower_text {
        &-font {
          font-size: 20px;
        }
        &-button {
          font-size: 17px;
        }
      }
    }
  }
}
