.section-4-container {
  max-width: 1140px;
  min-width: 500px;
  margin: 0 auto;
  margin-top: 293px;
  display: flex;
  gap: 96px;
}

.section-4 {
  &-title {
    &-container {
      max-width: 500px;
    }
    &-sm_text_font {
      font-family: $roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 2.24px;
      text-transform: uppercase;
      color: #92a0b3;
    }
    &-font {
      margin-top: 25px;
      font-family: $font;
      font-style: normal;
      font-weight: 700;
      font-size: 61px;
      line-height: 64px;
      letter-spacing: 0.64px;
      color: #03060b;
    }
  }
  &-content {
    &-container {
      padding-top: 50px;
    }
    &-font {
      font-family: $font;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.16px;
      color: #445b78;
    }
    &-button {
      display: inline-flex;
      margin-top: 50px;
      &-font {
        text-decoration: none;
        font-family: $font;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.32px;
        color: #3880ff;
      }
      &-arrow {
        margin-top: 7px;
        margin-left: 10px;
      }
    }
  }
}
.four_block {
  &-container {
    max-width: 1140px;
    min-width: 500px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    gap: 32px;
  }
  &-title {
    &-font {
      margin-top: 31px;
      font-family: $font;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 22px;
      letter-spacing: 0.2px;
      color: #03060b;
    }
  }
  &-content {
    &-container {
      max-width: 254px;
    }
    &-font {
      font-family: $font;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 29px;
      letter-spacing: 0.16px;
      color: #445b78;
    }
  }
}
