.section-2-container {
  padding: 0 20px;
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 240px;
  display: flex;
  justify-content: space-between;
}

.section_2 {
  &-container {
    display: flex;
    justify-content: space-between;
  }
  &-sm-text-font {
    font-family: $roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 2.24px;
    text-transform: uppercase;
    color: #92a0b3;
  }

  &-title {
    &-font {
      font-family: $font;
      font-style: normal;
      font-weight: 700;
      font-size: 60px;
      line-height: 64px;
      letter-spacing: 0.64px;
      color: #03060b;
    }
  }
  &-content {
    &-container {
      max-width: 431px;
    }
    &-font {
      font-family: $font;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.16px;
      color: #445b78;
    }
  }
  &-img {
    &-container {
      display: flex;
      align-items: flex-end;
      position: relative;
    }
    &-text {
      &-font {
        font-family: $font;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.16px;
        color: #ffffff;
      }
      &-container {
        display: flex;
        flex-direction: column;
        margin: 0 52px;
        margin-bottom: 40px;
        position: absolute;

        gap: 10px;
      }
      &-img {
        max-width: 96px;
        max-height: 40px;
      }
    }
    &-button {
      text-decoration: none;
      font-family: $font;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 13px;
      color: #ffffff;
      padding: 10px 12px 10px 12px;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 1000px;
      max-width: 165px;
    }
  }
}

.sm-img-container {
  display: flex;
  max-width: 300px;
  overflow-x: hidden;
  margin-top: 35px;
  margin-bottom: 35px;
  justify-content: space-between;
}

@media all and (max-width: 1050px) {
  .section-2 {
    &-container {
      align-items: center;
      flex-direction: column;
    }
  }
}

.section_2 {
  &-img {
    &-button {
      font-size: 14px;
      padding: 10px 19px 10px 19px;
      max-width: 190px;
    }
    &-content {
      &-font {
        font-size: 18px;
      }
    }
  }

  .sm-img {
    margin-left: 70px;
    &-container {
      display: flex;

      margin-top: 50px;
      margin-bottom: 50px;
    }
  }
}
